footer {
  align-items: center;
  background-color: #fff;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  position: absolute;
  width: 100%;
  border-top: 1px solid #CCCCCC ;
}
